{% extends "layout.html" %}
{% block body %}
<table border="1">
    <tr>
        <td>name</td>
        <td>tel</td>
    </tr>
    {% for item in contacts %}
        {% if loop.index % 2 == 0 %}
        <tr class="even-row">
            <td>{{ item.name }}</td>
            <td>{{ item.tel }}</td>
        </tr>
        {% else %}
        <tr class="odd-row">
            <td>{{ item.name }}</td>
            <td>{{ item.tel }}</td>
        </tr>
        {% endif %}
    {% endfor %}
</table>
{% endblock %}