{% extends "movie/index.html" %}
{% block style %}
    <style type="text/css">
        #booksfilter li {
            padding: 5px;
            list-style-type: none;
            float: left;
            padding: 0px;
        }

        #booksfilter span {
            margin-left: 5px;
            margin-right: 5px;
        }

        #booksfilter a {
            padding: 5px;
            text-decoration: none;
        }

        #booksfilter a.cur, #booksfilter a:hover {
            background-color: #e67e22;
            color: white;
            border-radius: 5px;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row" id="indexbooks">
            <h4 class="title" style="padding-bottom:10px;">
                图 书
                <ul style="float:right;font-size:14px;" id="booksfilter">
                    <li><a href="javascript:void(0);" class="cur">入门</a><span>|</span></li>
                    <li><a href="javascript:void(0);">实战</a><span>|</span></li>
                    <li><a href="javascript:void(0);">进阶</a><span>|</span></li>
                </ul>
            </h4>
            <div class="row">
                <div class="booklist">

                    <div class="col-xs-3">
                        <div class="thumbnail" style="height:220px; border-width:0px;">
                            <a href="javascript:void(0)" target="_blank">
                                <img style="height:130px;" src="http://www.dqiu.net/uploads/146855238081016.jpg">
                            </a>
                            <div class="caption">
                                <h5 style="text-align:center;">
                                    <a href="javascript:void(0)" target="_blank">
                                        Node入门 </a></h5>
                                <p style="text-align:center;">
                                    评论(0)&nbsp;<span class="badge">2推荐</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="thumbnail" style="height:220px; border-width:0px;">
                            <a href="javascript:void(0)" target="_blank">
                                <img style="height:130px;" src="http://img3.doubanio.com/mpic/s1039608.jpg"> </a>
                            <div class="caption">
                                <h5 style="text-align:center;">
                                    <a href="javascript:void(0)" target="_blank">
                                        LINUX权威指南（... </a></h5>
                                <p style="text-align:center;">
                                    评论(0)&nbsp;<span class="badge">1推荐</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="thumbnail" style="height:220px; border-width:0px;">
                            <a href="javascript:void(0)" target="_blank">
                                <img style="height:130px;" src="http://img3.doubanio.com/mpic/s10170467.jpg"> </a>
                            <div class="caption">
                                <h5 style="text-align:center;">
                                    <a href="javascript:void(0)" target="_blank">
                                        锋利的jQuery(... </a></h5>
                                <p style="text-align:center;">
                                    评论(0)&nbsp;<span class="badge">1推荐</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="thumbnail" style="height:220px; border-width:0px;">
                            <a href="javascript:void(0)" target="_blank">
                                <img style="height:130px;" src="http://img3.doubanio.com/mpic/s26269848.jpg"> </a>
                            <div class="caption">
                                <h5 style="text-align:center;">
                                    <a href="javascript:void(0)" target="_blank">
                                        Sams Teach... </a></h5>
                                <p style="text-align:center;">
                                    评论(0)&nbsp;<span class="badge">1推荐</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="thumbnail" style="height:220px; border-width:0px;">
                            <a href="/book/577e05d757b0c" target="_blank">
                                <img style="height:130px;" src="http://www.dqiu.net/uploads/146787664243893.jpg">
                            </a>
                            <div class="caption">
                                <h5 style="text-align:center;">
                                    <a href="javascript:void(0)" target="_blank">
                                        ThinkPHP5快... </a></h5>
                                <p style="text-align:center;">
                                    评论(0)&nbsp;<span class="badge">0推荐</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="thumbnail" style="height:220px; border-width:0px;">
                            <a href="javascript:void(0)" target="_blank">
                                <img style="height:130px;" src="http://img3.douban.com/mpic/s4671751.jpg"> </a>
                            <div class="caption">
                                <h5 style="text-align:center;">
                                    <a href="javascript:void(0)" target="_blank">
                                        DIV+CSS网站布... </a></h5>
                                <p style="text-align:center;">
                                    评论(0)&nbsp;<span class="badge">5推荐</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="thumbnail" style="height:220px; border-width:0px;">
                            <a href="javascript:void(0)" target="_blank">
                                <img style="height:130px;" src="http://img3.doubanio.com/mpic/s7654166.jpg"> </a>
                            <div class="caption">
                                <h5 style="text-align:center;">
                                    <a href="javascript:void(0)" target="_blank">
                                        PHP完全自学手册（... </a></h5>
                                <p style="text-align:center;">
                                    评论(0)&nbsp;<span class="badge">4推荐</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="thumbnail" style="height:220px; border-width:0px;">
                            <a href="javascript:void(0)" target="_blank">
                                <img style="height:130px;" src="http://img3.doubanio.com/mpic/s6080118.jpg"> </a>
                            <div class="caption">
                                <h5 style="text-align:center;">
                                    <a href="javascript:void(0)" target="_blank">
                                        细说PHP（pdf可... </a></h5>
                                <p style="text-align:center;">
                                    评论(0)&nbsp;<span class="badge">5推荐</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="booklist" style="display:none;">

                    <div class="col-xs-3">
                        <div class="thumbnail" style="height:220px; border-width:0px;">
                            <a href="javascript:void(0)" target="_blank">
                                <img style="height:130px;" src="http://img3.douban.com/mpic/s27179181.jpg"> </a>
                            <div class="caption">
                                <h5 style="text-align:center;">
                                    <a href="javascript:void(0)" target="_blank">
                                        Linux Shel... </a></h5>
                                <p style="text-align:center;">
                                    评论(0)&nbsp;<span class="badge">1推荐</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="thumbnail" style="height:220px; border-width:0px;">
                            <a href="javascript:void(0)" target="_blank">
                                <img style="height:130px;" src="http://img3.doubanio.com/mpic/s28020259.jpg"> </a>
                            <div class="caption">
                                <h5 style="text-align:center;">
                                    <a href="javascript:void(0)" target="_blank">
                                        微信公众平台开发基础... </a></h5>
                                <p style="text-align:center;">
                                    评论(0)&nbsp;<span class="badge">4推荐</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="thumbnail" style="height:220px; border-width:0px;">
                            <a href="javascript:void(0)" target="_blank">
                                <img style="height:130px;" src="http://img3.doubanio.com/mpic/s28058478.jpg"> </a>
                            <div class="caption">
                                <h5 style="text-align:center;">
                                    <a href="javascript:void(0)" target="_blank">
                                        Bootstrap实... </a></h5>
                                <p style="text-align:center;">
                                    评论(0)&nbsp;<span class="badge">1推荐</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="thumbnail" style="height:220px; border-width:0px;">
                            <a href="javascript:void(0)" target="_blank">
                                <img style="height:130px;" src="http://img3.doubanio.com/mpic/s25137429.jpg"> </a>
                            <div class="caption">
                                <h5 style="text-align:center;">
                                    <a href="javascript:void(0)" target="_blank">
                                        jQuery UI开... </a></h5>
                                <p style="text-align:center;">
                                    评论(0)&nbsp;<span class="badge">2推荐</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="thumbnail" style="height:220px; border-width:0px;">
                            <a href="javascript:void(0)" target="_blank">
                                <img style="height:130px;" src="http://img3.douban.com/mpic/s27347131.jpg"> </a>
                            <div class="caption">
                                <h5 style="text-align:center;">
                                    <a href="javascript:void(0)" target="_blank">
                                        Bootstrap用... </a></h5>
                                <p style="text-align:center;">
                                    评论(0)&nbsp;<span class="badge">2推荐</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="thumbnail" style="height:220px; border-width:0px;">
                            <a href="javascript:void(0)" target="_blank">
                                <img style="height:130px;" src="http://img3.douban.com/mpic/s10111843.jpg"> </a>
                            <div class="caption">
                                <h5 style="text-align:center;">
                                    <a href="javascript:void(0)" target="_blank">
                                        精通ASP.NET2... </a></h5>
                                <p style="text-align:center;">
                                    评论(0)&nbsp;<span class="badge">0推荐</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="thumbnail" style="height:220px; border-width:0px;">
                            <a href="javascript:void(0)" target="_blank">
                                <img style="height:130px;" src="http://www.dqiu.net/uploads/141437969040936.gif">
                            </a>
                            <div class="caption">
                                <h5 style="text-align:center;">
                                    <a href="javascript:void(0)" target="_blank">
                                        Fireworks ... </a></h5>
                                <p style="text-align:center;">
                                    评论(1)&nbsp;<span class="badge">0推荐</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="thumbnail" style="height:220px; border-width:0px;">
                            <a href="javascript:void(0)" target="_blank">
                                <img style="height:130px;" src="http://www.dqiu.net/uploads/141109524640207.jpg">
                            </a>
                            <div class="caption">
                                <h5 style="text-align:center;">
                                    <a href="javascript:void(0)" target="_blank">
                                        PHP MVC开发实... </a></h5>
                                <p style="text-align:center;">
                                    评论(7)&nbsp;<span class="badge">6推荐</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="booklist" style="display:none;">

                    <div class="col-xs-3">
                        <div class="thumbnail" style="height:220px; border-width:0px;">
                            <a href="javascript:void(0)" target="_blank">
                                <img style="height:130px;" src="http://img3.doubanio.com/mpic/s27508138.jpg"> </a>
                            <div class="caption">
                                <h5 style="text-align:center;">
                                    <a href="javascript:void(0)" target="_blank">
                                        精通AngularJ... </a></h5>
                                <p style="text-align:center;">
                                    评论(0)&nbsp;<span class="badge">0推荐</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="thumbnail" style="height:220px; border-width:0px;">
                            <a href="javascript:void(0)" target="_blank">
                                <img style="height:130px;" src="http://img3.doubanio.com/mpic/s27255846.jpg"> </a>
                            <div class="caption">
                                <h5 style="text-align:center;">
                                    <a href="javascript:void(0)" target="_blank">
                                        iOS开发指南... </a></h5>
                                <p style="text-align:center;">
                                    评论(0)&nbsp;<span class="badge">0推荐</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="thumbnail" style="height:220px; border-width:0px;">
                            <a href="javascript:void(0)" target="_blank">
                                <img style="height:130px;" src="http://www.dqiu.net/uploads/146787693051030.jpg">
                            </a>
                            <div class="caption">
                                <h5 style="text-align:center;">
                                    <a href="javascript:void(0)" target="_blank">
                                        ThinkPHP5.... </a></h5>
                                <p style="text-align:center;">
                                    评论(0)&nbsp;<span class="badge">1推荐</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="thumbnail" style="height:220px; border-width:0px;">
                            <a href="javascript:void(0)" target="_blank">
                                <img style="height:130px;" src="http://img3.douban.com/mpic/s4692124.jpg"> </a>
                            <div class="caption">
                                <h5 style="text-align:center;">
                                    <a href="javascript:void(0)" target="_blank">
                                        MongoDB权威指... </a></h5>
                                <p style="text-align:center;">
                                    评论(0)&nbsp;<span class="badge">1推荐</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="thumbnail" style="height:220px; border-width:0px;">
                            <a href="javascript:void(0)" target="_blank">
                                <img style="height:130px;" src="http://img3.douban.com/mpic/s5860151.jpg"> </a>
                            <div class="caption">
                                <h5 style="text-align:center;">
                                    <a href="javascript:void(0)" target="_blank">
                                        JavaScript... </a></h5>
                                <p style="text-align:center;">
                                    评论(0)&nbsp;<span class="badge">0推荐</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="thumbnail" style="height:220px; border-width:0px;">
                            <a href="javascript:void(0)" target="_blank">
                                <img style="height:130px;" src="http://img3.douban.com/mpic/s5952772.jpg"> </a>
                            <div class="caption">
                                <h5 style="text-align:center;">
                                    <a href="javascript:void(0)" target="_blank">
                                        正则表达式入门经典（... </a></h5>
                                <p style="text-align:center;">
                                    评论(0)&nbsp;<span class="badge">1推荐</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="thumbnail" style="height:220px; border-width:0px;">
                            <a href="javascript:void(0)" target="_blank">
                                <img style="height:130px;" src="http://img3.douban.com/mpic/s5893432.jpg"> </a>
                            <div class="caption">
                                <h5 style="text-align:center;">
                                    <a href="javascript:void(0)" target="_blank">
                                        计算机数学基础... </a></h5>
                                <p style="text-align:center;">
                                    评论(0)&nbsp;<span class="badge">3推荐</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="thumbnail" style="height:220px; border-width:0px;">
                            <a href="javascript:void(0)" target="_blank">
                                <img style="height:130px;" src="http://img3.douban.com/mpic/s3350961.jpg"> </a>
                            <div class="caption">
                                <h5 style="text-align:center;">
                                    <a href="javascript:void(0)" target="_blank">
                                        集体智慧编程... </a></h5>
                                <p style="text-align:center;">
                                    评论(0)&nbsp;<span class="badge">1推荐</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        $(function () {
            $('#booksfilter a').each(function (i) {//对每个tabs中的标签添加点击（click）事件的处理函数
                $(this).click(function () {
                    $(this).addClass('cur');
                    $(this).parent().siblings().find('a').removeClass('cur');//删除其他任何选项的cur类
                    $('.booklist').eq(i).show();//显示本节点
                    $('.booklist').eq(i).siblings().hide();//隐藏兄弟节点
                });
            });
        });
    </script>
{% endblock %}