{% extends "movie/index.html" %}
{% block content %}
    <script>
        function DrawImage(hotimg) {
            $(hotimg).jqthumb({
                classname: 'jqthumb',
                width: '100%',
                height: '300px',
                position: {y: '30%', x: '50%'},
                zoom: '1',
                method: 'auto',
            });
        }
    </script>
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox" style="margin:10px;">
            <div class="item active">
                <a href="javascript:void(0)">
                    <img src="{{ url_for('movie.static', filename='movie/img/4_000.jpg') }}" alt="图片一"
                         onload="DrawImage(this)"/></a>
                <div class="carousel-caption">
                    <h4 class="alpha">
                        <a style="color:white;" href="javascript:void(0)">血战钢锯岭</a>
                    </h4>
                </div>

            </div>
            <div class="item">
                <a href="javascript:void(0)">
                    <img src="{{ url_for('movie.static', filename='movie/img/0379h.jpg') }}" onload="DrawImage(this)"
                         alt="图片二"/>
                </a>
                <div class="carousel-caption">
                    <h4 class="alpha">
                        <a style="color:white;" href="javascript:void(0)">MarkDown</a>
                    </h4>
                </div>
            </div>
            <div class="item">
                <a href="javascript:void(0)">
                    <img src="{{ url_for('movie.static', filename='movie/img/0923h.jpg') }}" onload="DrawImage(this)"
                         alt="图片三"/>
                </a>
                <div class="carousel-caption">
                    <h4 class="alpha">
                        <a style="color:white;" href="javascript:void(0)">BootStrap</a>
                    </h4>
                </div>
            </div>
            <!-- 控制按钮 -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
{% endblock %}