{% extends "movie/index.html" %}
{#{% block title %}movies from dytt{% endblock %}#}

{#{% block navbar %}#}
{#<div class="navbar navbar-fixed-top">#}
{#    <a href="{{ url_for('ezbp.index') }}">ezbp</a>#}
{#    <a href="{{ url_for('main.index') }}">main</a>#}
{#</div>#}
{#{% endblock %}#}

{% block content %}
    <div class="row">
        {% for item in items[:10] %}
        <div class="col-md-4 col-xs-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">{{ item.get('电影天堂标题') }}</div>
                </div>
                {% for img in item.get('海报大图') %}
                <div class="panel-body">
                    <img class="img-thumbnail" alt="height:100px" style="height: 200px;" src="{{ img }}" data-holder-rendered="true">
                </div>
                {% endfor %}
            </div>
        </div>
        {% else %}
            <li><em>Unbelievable. No entries here so far.</em></li>
        {% endfor %}
    </div>
{% endblock %}