{% extends "layout.html" %}
{% block body %}
  <div class="selector">
    <select>
      {% for foo in data %}
        <option value="{{ foo[0] }}">{{ foo[1] }}</option>
      {% endfor %}
    </select>
    <div class="tree-select"></div>
  </div>

{% endblock %}
{% block script %}
  <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script>
      $(document).ready(function () {
        init_next_sel();
        console.log(1233);
      });

      function init_next_sel() {
          $(".tree-select").append("<select></select>");
          $(".tree-select select").append("<option value='-1'>请选择</option>")
      }

      $(".selector > select").click(function () {
          $.get("{{ url_for('get_org_list') }}", {
              org_id: 1
          }, function (data) {
              console.log(data);
              for (var k in data) {
                $(".tree-select select").append(`<option value=${k}>${data[k]}</option>`)
              }
          })
      })
  </script>
{% endblock %}
